<!DOCTYPE html>
<html lang='en' class="dark:bg-gray-800 dark:text-white">

<head>
    <title>Mail List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
     <!-- Include Tailwind CSS dark mode styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind-dark.min.css">
    <style>
        .enlarge:hover,
        .enlarge:focus {
            transform: scale(1.03);
        }
    </style>
</head>

<body class="bg-gray-100 font-sans dark:bg-gray-800 dark:text-white">

    <div class="container mx-auto p-8">
        <div class="flex items-center justify-between mb-8">

        <h1 class="text-4xl font-bold mb-4 text-indigo-600">Mail List</h1>
        <div class="flex items-center space-x-4">
                <label for="toggle" class="text-gray-600">Night Mode</label>
                <input type="checkbox" id="toggle" class="form-checkbox h-6 w-6 text-indigo-500 transition duration-150 ease-in-out">
            </div>
        </div>
        <form method="get" action="/get_list" class="mb-4">
            <div class="flex space-x-4">
                <div class="flex items-center">
                    <label for="mail_id" class="text-gray-600 dark:text-white">Mail ID:</label>
                    <input type="text" id="mail_id" name="mail_id" class="form-input  dark:text-black">
                </div>

                <div class="flex items-center">
                    <label for="date" class="text-gray-600 dark:text-white">Date:</label>
                    <input type="date" id="date" name="date" class="form-input  dark:text-black">
                </div>

                <div class="flex items-center">
                    <label for="search" class="text-gray-600 dark:text-white">Search:</label>
                    <input type="text" id="search" name="search" class="form-input  dark:text-black">
                </div>

                <button type="submit"
                    class="bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700">Apply Filters</button>
            </div>
        </form>

        <ul>
            {% for mail in mails %}
            <li>
                <div
                    class="bg-white rounded p-6 shadow-md cursor-pointer transition duration-300 enlarge dark:bg-gray-700 mb-4"
                    onclick="window.location.href='/mail/{{ mail.id }}'">
                    <h2 class="text-lg font-semibold mb-2 text-gray-800 dark:text-white">{{ mail.subject }}</h2>
                    <p class="text-gray-600 mb-2 dark:text-gray-300">{{ mail.from }}</p>
                    <p class="text-gray-800 dark:text-gray-200">{{ mail.summary }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>

        <div class="flex justify-between mt-8">
            <div>
                <p class="text-gray-600 dark:text-gray-400">Page {{ page }} of
                    {{ (total_items + per_page - 1) // per_page }}</p>
                <p class="text-gray-600 dark:text-gray-400">Total items: {{ total_items }}</p>
            </div>

            <div>
                <form method="get" action="/get_list">
                <label for="per_page" class="text-gray-600 dark:text-gray-400">Results per page:</label>
                <select id="per_page" name="per_page" onchange="this.form.submit()" class="form-select">
                    <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
                    <option value="20" {% if per_page == 20 %}selected{% endif %}>20</option>
                    <option value="50" {% if per_page == 50 %}selected{% endif %}>50</option>
                </select>
            </form>
            </div>
            <div class="flex space-x-2">
                {% if page > 1 %}
                <a href="?page={{ page - 1 }}&per_page={{ per_page }}&mail_id={{ mail_id }}&date={{ date }}&search={{ search }}"
                    class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Previous</a>
                {% endif %}

                {% if total_items > page * per_page %}
                <a href="?page={{ page + 1 }}&per_page={{ per_page }}&mail_id={{ mail_id }}&date={{ date }}&search={{ search }}"
                    class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700">Next</a>
                {% endif %}
            </div>
        </div>

    </div>
      <script>
            const toggle = document.getElementById('toggle');
            const html = document.documentElement;

            // Set the initial state based on the user's preference (localStorage or prefers-color-scheme)
            const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
            const storedDarkMode = localStorage.getItem('darkMode');

            if (storedDarkMode === 'dark' || (!storedDarkMode && prefersDarkMode)) {
                html.classList.add('dark');
                toggle.checked = true;
            }

            toggle.addEventListener('change', () => {
                if (toggle.checked) {
                    html.classList.add('dark');
                    localStorage.setItem('darkMode', 'dark');
                } else {
                    html.classList.remove('dark');
                    localStorage.setItem('darkMode', 'light');
                }
            });
        </script>
</body>

</html>
