<!-- templates/mail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Tailwind CSS via CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>{{ mail.subject }}</title>
</head>
<body class="bg-gray-100 font-sans">

<div class="container mx-auto p-8">
    <h1 class="text-4xl font-bold mb-8">{{ mail.subject }}</h1>

    <div class="bg-white rounded p-6 shadow-md mb-8">
        <div class="text-lg font-semibold mb-4">From: {{ mail.from }}</div>
        <p class="text-gray-800"  style="white-space: pre-line;" >{{ mail.full_msg }}</p>
    </div>

    <div class="bg-gray-200 rounded p-4 mb-8">
        <div class="text-sm font-semibold mb-2">Categories:</div>
        <div class="flex flex-wrap gap-2">
            {% for category in mail.categories %}
                <div class="border border-blue-500 text-blue-800 px-2 py-1 rounded">
                  {{ category}}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="bg-gray-200 rounded p-4 mb-8">
        <div class="text-sm font-semibold mb-2">Labels:</div>
        <div class="flex flex-wrap gap-2">
            {% for label in mail.labels %}
                <div class="border border-green-500 text-green-800 px-2 py-1 rounded">{{ label }}</div>
            {% endfor %}
        </div>
    </div>

    <a href="/" class="text-blue-500 hover:underline">&larr; Back to Mail List</a>
</div>

</body>
</html>